*{
    margin: 0px;
}

#root{
    color: brown;
}

.bg-cont{
    height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}
.header-cont{
    height: 120px;
    width: 100%;
    border: 1px solid orangered;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.website-logo{
    height: 100px;
    width: 100px;
    align-self: center;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}
.nav-list-cont{
    list-style: none;
    display: flex;
}
.nav-cont>.nav-list-cont>li{
    margin-right: 15px;
}
.nav-cont{
    margin-right: 65px;
    align-self: center;
    display: flex;
}
.resto-cont{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}
.resto-card{
    height: 300px;
    width: 300px;
    padding: 5px;
    background-color:lavender;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 10px;
    
}

.card-img{
    height: 150px;
    width: 95%;

    align-self: center;
}

.filter-btn{
    margin-left: 55px;
    margin-top: 25px;
    height: 30px;
    width: 120px;
    cursor: pointer;
}
.shim-cont{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}
.shim-card{
    height: 300px;
    width: 300px;
    padding: 5px;
    background-color:lavender;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 10px;
}
.l-btn{
    cursor: pointer;
}
.link{
    text-decoration: none;
    margin-right: 5px;
}